.div1{
	background-image: url("marraigeborder.jpg");
	opacity: 0.5;
}

.img1{
	height: auto;
	width: 100%;
	border: solid;
}

.img1:hover{
	transform: scale(1.2);
}

.margin1{
	padding: 20px;
	margin-bottom: 30px;
}
